<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>
<section>
<img class="image1" src="image2.jpg" alt="big mline swimming pool" width="100%" height="75%">
    <ul>
    <li id="filter"><p class="border">Highest Quality</p><p>Water Filters</p></li>
     <li id="pure"><p class="border">Eco Technology</p><p>Water Purification</p></li>
     <li id="relax"><p class="border">Hydrotherapy & </p><p>Relaxation</p></li>
    
    </ul>


</section>

	<!-- Component -->

	<!-- End Component -->
	
</body>
</html>