<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

<section>
	<div class="comp2">
    <p>WHAT I HOPE TO PRACTICE/LEARN?<br>
    I plan to learn to code in images the way that is shown in the example image. I really like how the images are structured in very unquie ways and am curious to know how its done. I think i may know how to but want to learn the correct way.<br><br>
    HOW THIS RELATES TO WHAT I HAVE/WILL LEARN IN WDD.<br>
    This relates with WDD because i have seen this discussed in the last classes but not so advanced the way it is show in the example image.<br><br>
    HOW MIGHT I BUILD THIS?<br>
    <ol>
    <li>I would start by adding a <code>&#60;section&#62;</code>to grasp the collection of images.</li>
    <li>Then I would make a <code>&#60;div&#62;</code> for each image</li>
    <li>3rd i was set the desire with for each image using the <code>&#60;img&#62;</code>
    <li>4th i would use css to add a absolute to each div class with the desired cordinates on the page.
    </ol>
    </p>
    <img src="components/2/TMComponent2.png" alt="images" width="1000" height="500"/>
    </div>

</section>

	<!-- Component -->

	<!-- End Component -->
	
</body>
</html>