<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>
<section>

<div class="comp3">
<p>WHAT I HOPE TO PRACTICE/LEARN?<br>
I plan to learn from this example is how to add social network icons in the website footer. I still kind of rusty how this would be done but if i search how to do it i believe i can accomplish it. This also should be the easist of them all but i stll am not sure how it would be done properly and semanticlly.<br><br>
HOW THIS RELATES TO WHAT I HAVE/WILL LEARN IN WDD.<br>
This realtes to WDD that i will learn because i have not learned this in the past i hope to master it soon. <br><br>
HOW MIGHT I BUILD THIS?<br>
<ol>
<li>First I would make a <code>&#60;ul&#62;</code> with 4 <code>&#60;li&#62;</code></li>
<li>From there i would unstylize the <code>&#60;ul&#62;</code> and <code>&#60;li&#62;</code>so know bullets will be seen</li>
<li>I would then make it <code>inline</code> through css</li>
<li>Then add a <code>box model</code> through css and add the socail network icons using the <code>&#60;img&#62;</code> tag</li>
<li>Finally i'll add the <code>a</code> anchor to link to my social network sites.</li>
</ol> 
</p>



<img src="components/5/TMComponent5.png" alt="banner" width="1000" height="100"/>
</div>

</section>

	<!-- Component -->

	<!-- End Component -->
	
</body>
</html>