<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

<section>
	<div class="comp2">
    <p>WHAT I HOPE TO PRACTICE/LEARN?<br>
    This example i really hope to learn because i have no idea how it would be built. I think is really cool it has a feature. I hope to learn how to build it semanticlly. So i can can carry on with my work in the future.
    <br><br>
    HOW THIS RELATES TO WHAT I HAVE/WILL LEARN IN WDD.<br>
    In my last javascript class we learned something like the example shown. I just never full understood how it can be implemented. I believe this component will be probably the hardest to do because i believe it has javascript to make the code function. I'm have a very blank idea how i would code it but i know it would be helpful to me tryy t=and tackle it.<br><br>
    HOW MIGHT I BUILD THIS?<br>
    <ol>
    <li>I would start by adding a <code>&#60;section&#62;</code> with in the section give it a <code>&#60;id&#62;</code</li>
    <li>Then I would make a <code>&#60;ul&#62;</code> and a <code>&#60;li&#62;</code> for each <code>&#60;p&#62;</code>element</li>
    <li>3rd I will add some javascript to <code>&#60;main.js&#62;</code></li>
    <li>4th i would use the <code>&#60;.class&#62;</code>from the section and call the <code>&#60;main.js&#62;</code> code in in the file</li>   
    </ol>
    </p>
    <img src="components/4/TMComponent4.png" alt="images" width="1000" height="500"/>
    </div>

	<!-- Component -->

	<!-- End Component -->
	
</body>
</html>