<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>
<section>
<img class="image1" src="image1.jpg" alt="big mline swimming pool" width="100%" height="100%">
    <ul>
    <li id="filter"><p>Highest Quality<br>Water Filters</p></li>
     <li id="pure"><p>Eco Technology<br>Water Purification</p></li>
     <li id="relax"><p>Hydrotherapy & <br> Relaxation</p></li>
    
    </ul>


</section>

	<!-- Component -->

	<!-- End Component -->
	
</body>
</html>