<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>
<section>

<div class="comp3">
<p>WHAT I HOPE TO PRACTICE/LEARN?<br>
What i hope to learn is to learn to style like the way in the eample image. This image has a hoover effect that changed color. I would like to know more about the semantics with in this style of coding.<br><br>
HOW THIS RELATES TO WHAT I HAVE/WILL LEARN IN WDD.<br>
This example relates to WDD because i have studied it in the past. Im still not quite sure how it would be coded but i think i may know how to code it. <br><br>
HOW MIGHT I BUILD THIS?<br>
<ol>
<li>First I would make a <code>&#60;ul&#62;</code> with 3 <code>&#60;li&#62;</code>
<li>From there i would unstylize the <code>&#60;ul&#62; and <code>&#60;li&#62;</code></code></li>
<li>I would then make it <code>inline</code> through css</li>
<li>Then add a <code>box model</code> through css and add the icons using the <code>&#60;img&#62;</code> tag</li>
<li>Finally i'll add the <code>hoover</code> psuedo with the color red</li>
</ol> 
</p>



<img src="components/3/TMComponent3.png" alt="banner" width="1000" height="500"/>
</div>

</section>

	<!-- Component -->

	<!-- End Component -->
	
</body>
</html>