<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>
<div id=wrapper>
<section>
<h2>Testimonials</h2>
<div
<div class="slideshow">
<article>
<h3>Aaron Brown</h3>
<p>Lorem ipsum dolor sit amet, ea pri latine lucilius, diam vivendo scribentur in qui, nostro corrumpit quo te. Sumo assueverit nec ut, usu cu utroque delectus facilisis. Mea mucius civibus eu, no eos utroque epicurei facilisis. Vim ex suas esse, an graeci sapientem vel.</p>
</article>
<article>
<h3>John Connor</h3>
<p>Cu nam inimicus consetetur. In impedit iracundia sed, mei error honestatis cu. Putant voluptua percipitur qui id, duo et magna nonumes appetere. Eum ne natum zril, laoreet debitis maluisset ea sed. Et sea modus mundi.</p>
</article>
<article>
<h3>Mike Angelo</h3>
<p>Te scripta diceret mea, mundi solet facete no quo. Ei ius modus saepe vivendo, est dicam animal apeirian ne, ei discere qualisque quo. Meis nonumy erroribus vis in, sed reque soleat impetus ei. Pro ex omnes apeirian, mel dolore feugait an.</p>
</article>
</div>​ 
</section> 
</div>  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="jquery.cycle.all.js"></script>
<script src="main.js"></script>		
    <!-- End Component -->
	
</body>
</html>