<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>
	<footer>
		<ul>
        	<li id="facebook">Facebook</li>
            <li id="twitter">Twitter</li>
            <li id="google">Google</li>
            <li id="instagram">Instagram</li>
		</ul>
	<p>&copy;2016|Privacy Policy</p>
</footer>

	<!-- Component -->

	<!-- End Component -->
	
</body>
</html>