<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

<section>
	<div class="comp1">
    	<h2>Navigation Header Drop Down Menu</h2>
	  <p>WHAT I HOPE TO PRACTICE/LEARN?<br>
	I've had some problems creating Naviagtion menus in the past. In this class I hope to learn how to properly code this navigation menu with dropdown.<br><br>
    HOW THIS RELATES TO WHAT I HAVE/WILL LEARN IN WDD.<br>
    The Navigation menu is a more advanced HTML5 coding. In the past i never quite understood how to make one on my own. This class is suppose to be a challege and a way to understand semantics of HTML5 coding. I really believe this is a excellent component to try and grasp HTML5 semantics.<br><br>
    HOW MIGHT I BUILD THIS?<br>
    Create the component as a <code>&#60;header&#62;</code><br>
    Adding a Logo using <code>&#60;img&#62;</code> or <code>&#60;h1&#62;</code>
</p>
<img src="components/1/TMComponent1.png" alt="Navigation Menu" width="1000" height="119"/>
</div>
</section>
	<!-- Component -->

	<!-- End Component -->
	
</body>
</html>