/* Component Stylesheet 
============================================================
============================================================*/

section .comp1 {
color: #fff;
border-bottom: solid #FFF 2px;
	
}

section .comp1 h2{
margin: 50px;
text-decoration:underline
}

section .comp1 p {
font-size: 1.4em;	
}

img{
	margin-top: 25px;
	
}

code { 
    font-family: monospace;
	background-color: #CCC;
	color: #000;
}

