<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

<section>
	
    <img class="image1" src="image4.jpg" alt="big mline swimming pool" width="100%" height="100%">
    <img class="image2" src="image2.jpg" alt="mline swimming pool" width="25%" height="25%">
    <img class="image3" src="image5.jpg" alt="mline swimming pool" width="60%" height="60%">
    

</section>

	<!-- Component -->

	<!-- End Component -->
	
</body>
</html>