/* Project CSS 
============================================================
============================================================*/

/* HEADER ============================== */

body {
	background-color: #000;	
	width: auto;
	height: auto;
}

header{
	margin: 3em 7em;
	border: 5px;
	background-color:#1E1E1E;
	
}

header h1{
	color: #fff;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 3em;	
}

/* ABOUT ============================== */
section {
	margin: 3em 7em;
	border: 5px;
	background-color: #1E1E1E;
}


.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}section .image p  {
	position: absolute;
	top: 41px;
	left: 17px;
	width: 1098px;
	height: 60px;
}

section p span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.5);
   padding: 10px; 
}
/* COMPONENTS ============================== */
section .comp1 h2{
	font-size: 2em;
	text-align: center;
	color: #fff;
	margin-top: 35px;

	
}